*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
     font-family: 'Times New Roman', Times, serif ;
     background-color: whitesmoke;
     margin-top: 40px;
     display: flex;
     justify-content: center;
}

.big-cont{
border: 1px solid black;
background-color: grey;
    width: 400px;
    height: 600px;
    border-radius: 10px;
    
}
.temp{
    width: 120px;
    height: 40px;
    background-color: black;
    margin-top: 22px;
    margin-left: 260px;
    color: aliceblue;
    text-align: center;
    padding: 10px;
}
h1{
    font-size: 1.4rem;
    display: inline;
position: relative;
left: 20px;
bottom: 28px;

    
    
}

.display{
    text-align: right;
    font-size: 1.2rem;
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 20px;
    width: 360px;
    height: 70px;
    background-color: 	#B2BEB5;
}
/*
.btn{
   display: flex;
   
}
   */

   .power-btn{
    position: absolute;
    top: 32%;
    margin-left: 270px;
    width: 47px;
    height: 50px;
    background-color: #333;
    padding:5px;
    font-size: 1.2rem;
    font-weight: bolder;
    color: whitesmoke;
    
  
}

.square-btn{
     position: absolute;
    top: 32%;
    margin-left:  330px ;
    width: 47px;
    height: 50px;
    background-color: #333;
     padding:10px;
    font-size: 1rem;
    font-weight: bolder;
    color: whitesmoke;

}

.clear-btn{
     font-size: 1rem;
    margin-top: 22px;
    margin-left:20px ;
width: 110px;
height: 50px;
background-color: rgba(255, 68, 0, 0.767);
}

.delete-btn{
     font-size: 1rem;
      margin-left:10px ;
   width: 110px;
height: 50px;
background-color: violet; 
}

.btn-row1{
    
    display: flex;
    justify-content: space-evenly;
    width: 360px;
    height: 50px;
    margin-top: 18px;
    margin-left: 20px;
    margin-right: 20px;
}
.btn-mc{
    color:  whitesmoke;
    font-size: 1rem;
    width: 68px;
    height: 50px;
     background-color: #333;
}

.btn-mr{
      color:  whitesmoke;
    font-size: 1rem;
    width: 65px;
    margin-left: 5px;
    height: 50px;
     background-color: #333;
}
.btn-m-{
      color:  whitesmoke;
    font-size: 1rem;
      width: 65px;
       margin-left: 5px;
    height: 50px;
    background-color: #333;

}
.btn-mplus{
      color:  whitesmoke;
    font-size: 1rem;
         width: 65px;
          margin-left: 5px;
    height: 50px;
     background-color: #333;

}
.btn-div{
      color:  whitesmoke;
    font-size: 1rem;
     width: 65px;
      margin-left:5px;
    height: 50px;
     background-color: #333; 
}



.btn-row2{
    display: flex;
    justify-content: space-evenly;
    width: 360px;
    height: 50px;
    margin-top: 18px;
    margin-left: 20px;
    margin-right: 20px;
}
.btn-percent{
    color:  whitesmoke;
    font-size: 1rem;
    width: 68px;
    height: 50px;
     background-color: #333;
}

.btn-7{
      color:  whitesmoke;
    font-size: 1rem;
    width: 65px;
    margin-left: 5px;
    height: 50px;
     background-color: #333;
}
.btn-8{
      color:  whitesmoke;
    font-size: 1rem;
      width: 65px;
       margin-left: 5px;
    height: 50px;
    background-color: #333;

}
.btn-9{
      color:  whitesmoke;
    font-size: 1rem;
         width: 65px;
          margin-left: 5px;
    height: 50px;
     background-color: #333;

}
.btn-minus{
      color:  whitesmoke;
    font-size: 1rem;
     width: 65px;
      margin-left:5px;
    height: 50px;
     background-color: #333; 
}


.btn-row3{
    display: flex;
    justify-content: space-evenly;
    width: 360px;
    height: 50px;
    margin-top: 18px;
    margin-left: 20px;
    margin-right: 20px;
}

.btn-sign{
    color:  whitesmoke;
    font-size: 1rem;
    width: 68px;
    height: 50px;
     background-color: #333;
}

.btn-4{
      color:  whitesmoke;
    font-size: 1rem;
    width: 65px;
    margin-left: 5px;
    height: 50px;
     background-color: #333;
}
.btn-5{
      color:  whitesmoke;
    font-size: 1rem;
      width: 65px;
       margin-left: 5px;
    height: 50px;
    background-color: #333;

}
.btn-6{
      color:  whitesmoke;
    font-size: 1rem;
         width: 65px;
          margin-left: 5px;
    height: 50px;
     background-color: #333;

}
.btn-cuberoot{
      color:  whitesmoke;
    font-size: 1rem;
     width: 65px;
      margin-left:5px;
    height: 50px;
     background-color: #333; 
}

.btn-row4{
    display: flex;
    justify-content: space-evenly;
    width: 360px;
    height: 50px;
    margin-top: 18px;
    margin-left: 20px;
    margin-right: 20px;
}

.btn-multiply{
    color:  whitesmoke;
    font-size: 1rem;
    width: 68px;
    height: 50px;
     background-color: #333;
}

.btn-1{
      color:  whitesmoke;
    font-size: 1rem;
    width: 65px;
    margin-left: 5px;
    height: 50px;
     background-color: #333;
}
.btn-2{
      color:  whitesmoke;
    font-size: 1rem;
      width: 65px;
       margin-left: 5px;
    height: 50px;
    background-color: #333;

}
.btn-3{
      color:  whitesmoke;
    font-size: 1rem;
         width: 65px;
          margin-left: 5px;
    height: 50px;
     background-color: #333;

}
.btn-plus{
      color:  whitesmoke;
    font-size: 1rem;
     width: 65px;
      margin-left:5px;
    height: 118px;
     background-color: #333; 
}
.btn-row5{
    width: 360px;
    height: 50px;
    margin-top:18px;
    margin-left: 18px;
    margin-right: 20px;
}

.btn-AC{
    color:  whitesmoke;
    font-size: 1rem;
    width: 68px;
    height: 50px;
     background-color: #333;
}

.btn-0{
      color:  whitesmoke;
    font-size: 1rem;
    width: 65px;
    margin-left: 5px;
    height: 50px;
     background-color: #333;
}
.btn-dot{
      color:  whitesmoke;
    font-size: 1rem;
      width: 65px;
       margin-left: 5px;
    height: 50px;
    background-color: #333;

}
.btn-equal{
      color:  whitesmoke;
    font-size: 1rem;
         width: 65px;
          margin-left: 5px;
    height: 50px;
     background-color: #333;

}
